<div *ngIf="user && userId && activityList && activityList.length > 0">
  <h2>Welcome, {{user.firstName}} {{user.lastName}}!</h2>
  <div style="display: inline-block;">
    <h3 style="display: inline-block;">Leader Board</h3>
    <mat-form-field style="display: inline-block; margin-left: 10px;">
      <mat-select [(value)]="chartSelection">
        <mat-option value="all">All Time</mat-option>
        <mat-option value="week">Weekly</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-top-athletes *ngIf="showChart('all')"></app-top-athletes>
  <app-weekly-board *ngIf="showChart('week')"></app-weekly-board>
  <mat-tab-group>
    <mat-tab label="Activity Log">
      <app-player-activity-table [userId]="userId" [activityList]="activityList"></app-player-activity-table>
    </mat-tab>
  </mat-tab-group>
</div>

