@import '../styles-variables';

.content {
    flex: 1;
    width: 900px;
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    @media (max-width: map-get($grid-breakpoints , lg )) {
      width: 700px;
      max-width: 700px;
    }
    @media (max-width: map-get($grid-breakpoints , md )) {
      width: 100%;
      max-width: 100%;
      margin-top: 0;
    }
  }