<div *ngIf="done">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
  <div style="text-align: center;">
      <button mat-icon-button (click)="updateWeek('prev')"><mat-icon>arrow_left</mat-icon></button>
      <h4 style="display: inline-block;">{{ dayOne | date }} to {{ daySeven | date }}</h4>
      <button mat-icon-button (click)="updateWeek('next')"><mat-icon>arrow_right</mat-icon></button>
  </div>
</div>