<h3>
  Admin Dashboard
</h3>
<div *ngIf="players && activityList && activityList.length > 0">
<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="List">
    <mat-accordion>
      <div *ngFor="let player of players">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="width: 50%;">{{player.firstName}} {{player.lastName}}</mat-panel-title>
            <mat-panel-description>Total Points: {{ calculatePlayerTotal(player) }}</mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="player.activityList.length > 0">
            <div *ngFor="let activity of player.activityList">
              <strong>Activity:</strong> {{activityDescription(activity)}} <strong>Points:</strong> {{activityPoints(activity)}} <strong>Date:</strong> {{activity.timestampUtc | date:'short'}}
            </div>
          </div>
          <div *ngIf="player.activityList.length === 0">
            <strong>No Activities Recorded</strong>
          </div>
        </mat-expansion-panel>
      </div>
      </mat-accordion>
  </mat-tab>
  <mat-tab label="Chart">
    <div *ngIf="selectedTabIndex === 1">
      <app-all-players-graph [players]="players" [activityList]="activityList"></app-all-players-graph>
    </div>
  </mat-tab>
  <mat-tab label="Manage Athletes">
    <app-manage-players [players]="players"></app-manage-players>
  </mat-tab>
</mat-tab-group>
</div>