@import "../../../custom-theme";

.project-card {
    max-width: 250px;
  }

.custom-card {
    background-color: black;
}

.card-outline {
    width: 250px;
    margin: 0px;
    outline: 2px solid mat-color($custom-theme-primary);
}

.card-outline:hover {
    outline: 2px solid mat-color($custom-theme-accent);
    cursor: pointer;
}