<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/835798ba-0790-4959-87b4-f41f45be44cd/resourceGroups/Zoe-Offseason/providers/Microsoft.Web/sites/offseason-prd-2</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://offseason-prd-2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>offseason-prd-2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>offseason-prd-2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$offseason-prd-2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>